{% load short_url from shortnr %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL shortener service</title>
</head>
<body>
    {% if new_short_url %}
        <input type="text" id="short-url" readonly value="{% short_url new_short_url %}">
        <button type="button">Copy</button>
    {% endif %}

    {{ form.non_field_errors }}
    <form method="post">
        {% csrf_token %}
        {{ form.url.label_tag }}
        {{ form.url }}
        {{ form.url.errors }}
        <button type="submit">Shorten</button>
        <br>
        {{ form.custom_path.label_tag }}
        {{ form.custom_path }}
        {{ form.custom_path.errors }}
    </form>

    {% if user_links %}
        <table>
            <caption title="">Your short links</caption>
            {% for link in user_links %}
                <tr>
                    <td>
                        <span{% if link.url|length > 100 %} title="{{ link.url }}"{% endif %}>
                            {{ link.url | truncatechars:100 }}
                        </span>
                    </td>
                    <td>{% short_url link.short_path %}</td>
                    <td><button type="button">Copy</button></td>
                </tr>
            {% endfor %}
        </table>
        {% include 'shortnr/paginator.html' with page_obj=user_links %}
    {% endif %}
</body>
</html>