{% load short_url from shortnr %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL shortener service</title>
</head>
<body>
    {% if new_short_url %}
        <input type="text" id="short-url" name="short-url" readonly value="{% short_url new_short_url %}">
        <button type="button">Copy</button>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <label>
            Type URL to shorten
            <input type="text" name="url">
        </label>
        <button type="submit">Shorten</button>
    </form>

    {% if user_links %}
        <table>
        <caption title="">Your short links</caption>
            {% for link in user_links %}
                <tr>
                    <td>{{ link.url }}</td>
                    <td>{% short_url link.short_path %}</td>
                    <td><button type="button">Copy</button></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
</body>
</html>